




/* Start here */
.box {
  width: 100px;
  height:100px;
background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  cursor: move;
}
h1{
  margin-top: 70px;
  margin-left: 260px;
    font-family: Orator std;
  font-size: 50px;
   text-shadow: 3px 2px grey;

}

body {
  font-family: Orator std;
  font-size: 30px;
    background-image:url("../images/bg.gif") ;
   background-repeat:no-repeat;
    background-size:1000% 1000%;
  background-position: center;

   
}

.main {
  width: 80%;
  margin-left: 550px;
  margin-top: 20px;
  text-shadow: 3px 2px grey;

}
span{font-size: 40px;
   
}

//

.rollover {
  color: black;
}

.rollover:hover {
  color: blue;
}





.blur {
  position: fixed;
  opacity: 0;
  filter: blur(20px);
  transition: all 2s;
  pointer-events: none;
}

.blur.showme {
  opacity: 1;
  transition: all 2s;
  filter: blur(0px);
}





/* Image layout ie specific classes*/

.oase__image {
  top: 40px;
  left:100px;
}

.magazine__image {
  top:0px;
  left:400px;
}

.landscape__image {
  top: 20px;
  right: 100px;
}
.step4__image{
    top: 50px;
  right: 200px;

}


//













