


p{font-size: 20px;
   text-decoration-color: red;
   border-style: inset;

    
   background: rgb(106, 90, 205);
      border-style: none;

  margin: 20px;
  padding: 20px;
   font-family: Minion Pro;
    text-shadow: 1px 1px grey;

    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);


}

  .h1 {
	font-size: 35px;
	font-family: Orator std;
 
	margin-top:50px;
	margin-bottom: 50px;
 text-shadow: 3px 2px red;
	 

}


body{


	background-image:url("../images/bg.gif");
	
	  background-position: center;
	   background-size: cover;
}



.head{	
	left:0px;
	top:5px;
	width: 100%;
background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
	font-size: 80px;
	font-family: Orator std;
	text-align: center;
	margin-top: 5px;
	
	}

.col-1 {
	width:45%;
	float: left;
	margin-left:20px;
	padding-left:20px;
	text-align: justify;
	

}
.col-2 {
	width:45%;
	float: right;
	margin-right:20px;
	padding-right:20px;
	text-align: justify;


}
span{font-size: 20px;}


}