

.nav {
  position: fixed;
  top: 150px;
  left: 20px;
  z-index: 2;
  cursor: pointer;
  color: DodgerBlue;
	text-transform: uppercase;
	font-size: 25px;
	 text-shadow: 2px 1px red;
}

.Click {
  height: 100vh;
  width: 50vw;
 
  position: fixed;
  left: -50vw;
  top: 0px;
  z-index: 1;
  transition: all 1s;
}

.Click.showme {
  left: 0;
  transition: all 1s;
}

.main {
  transition: all 1s;
  margin-top: -0px;
}

.main.moveleft {
  margin-top: -40vw;
  transition: all 1s;
}

.backtotop {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.Click__list{
margin: 20px;

color: DodgerBlue;
	text-transform: uppercase;
	font-size: 25px;
	 text-shadow: 2px 1px red;

}










.top {
	color: DodgerBlue;
	text-transform: uppercase;
	font-size: 50px;
	border-style: none;
    border-width: 10px;
    padding: 15px  15px;
    word-spacing: 50px;
    border-color: blue;

 text-shadow: 3px 2px red;
}

.left{transform: rotate(90deg);
	transform-origin: left top 0;}


ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}


body{


	background-image:url("../images/bg.gif");
	
	  background-position: center;
	   background-size: cover;
}

.rollover {
	position: relative;
}

.text {
	position: absolute;
	top: 100px;
	left: 5px;

	padding: 20px;
	
	width: 100%;
	color: white;
	opacity: 0;
	font-family: Orator std;
	text-align: justify;
}


.rollover:hover img {
	opacity: 0;
}

.rollover:hover text {
	background-color: red;
}

.rollover:hover {
	background-color: black;
}

.rollover:hover .text {
	opacity: 1;
}

.marquee3k {
  font-family: arial;
  background-color: yellow;
}

.marquee3k__copy {
  padding: 20px;
} 


.marquee-left-top {
  position: fixed;
  left:50px;
  top:0px;
  width: 100vw;
  transform: rotate(90deg);
  transform-origin: top left;
}


.marquee-right-top {
  position: fixed;
  right:0px;
  top:0px;
  width: 100vw;
  transform: rotate(-90deg);
    transform-origin: bottom right;
    z-index: 99;
}


.marquee-top {
  position: fixed;
  left:0px;
  top:0px;
  width: 100vw;
  z-index: 2;
}

.marquee-bottom {
  position: fixed;
  left:0px;
  bottom:0px;
  width: 100vw;
}


/*.flex-container {
  padding: 30px;
  margin: 30px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: green;
  padding: 150px;
  width: 80px;
  height: 80px;
  margin-top: 200px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;

}
  */




